extends layout

block content
 
    h2.center-align Contacts   
    each val in data
      .row
        .col-6
         .card-panel.teal.lighten-2
           .card-content
              .card-title.white
                h6 #{val.name}
                h6 #{val.phoneNo}
                ul#nav-mobile.right.hide-onmed-and-down
                  a.navbar-brand(href='./').btn Back
                  a.navbar-brand(href='deleteRow?name='+val.name).btn Delete
                  a.navbar-brand(href='viewData?_id='+val._id).btn view