extends layout

block content
 

  p welcome to #{title}
   form(action = 'saveData' method='get')


    .rows
      .input-field.col.s6
        label.active(for='name') name
        input#name.validate( type='text', name='name')

    .row
      .input-field.col.s6
        label.active(for='phoneNo') phoneNo
        input#first_name.validate( type='text', name='phoneNo')    
  

    .row
      button.btn(type='submit') Save 
      